<p>parent works!</p>
<!-- <hr>
 --><!-- <input type="text" #txtinpput>
 --><!-- <button (click)="addName(txtinpput.value); txtinpput.value = ''; childref.refresh() " >AddName</button>
 --><!-- <ng-container *ngFor="let child of [1,2,3,4,5], let i = index">
 -->
<!--  <app-child [names]="namesParent" #childref></app-child>
 --><!-- </ng-container>
 -->
<!-- <button (click)="mytitle= 'title2'">change title</button>
 -->
<!-- <p ngNonBindable>{{ah}}</p>
 -->
 <p [appHighlight]="'yellow'">{{ah}}</p> <!-- in this case the selector and the input are the same thing
  -->

 <input type="text">
 <br>
 <br>
 <input type="text" appRandomColors>
